.layout-main{
    color: black;
    font-size: 40px;
    font-family:serif;
    text-align: left;
    padding-top: 25px;
}
.layout-p{
    color: black;
    font-size: 20px;
    font-family:serif;
    text-align: left;
    width: 670px;

}
.layout-div{
    width: 670px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 16px;
}
.layout-image{
    width: 768px;
    height:578px;
    display: inline-block;
    margin: 15px;
}
.container{
    position: relative;
    text-align: right;
}