.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(252, 239, 223);
}

.main {
    flex: 1;
    padding: 1rem;
    background-color: rgb(252, 239, 223);
}